@media all and (max-width: 900px) {
    #main {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        /*background-color: lightgreen;*/
    }
    #top{
        /*display: none;*/
        height:40px;
        line-height: 1.1;
    }
    #boardArea{
        order:1;
        height:500px;
    }
    #board{
        height:450px;
    }

    #infoSide{
        order:2;
        width:400px;
        margin-left:auto;
        margin-right:auto;
        padding-left:2px;
    }

    #historySide{
        order:3;
        display:none;
    }
    .title {
        margin: 1px;
        font-size: 180%;
    }
    .levelC{
        display: inline-block;
      font-size:70%;
        line-height: 1;
    }
    #scoreArea{
        /*width:400px;*/

        width:100%;
        height:25px;
        display: inline-block;
        padding:2px;
        border-width: 1px;
        left:-3px;
    }
    #inputArea{
        display:none;
        height:30px;
        width:100%;
    }
    #inputArea div{
        display:inline-block;
    }
    #inputArea input{
        display: inline-block;
    }
    #playerName {
        font-size: 80%;
        font-weight: 400;
    }

    .infoParts{
        /*background-color: green;*/
        margin-top: 4px;
        font-size: 130%;
        line-height:0.8;

    }
    #scoreLabel{
        display:inline-block;
        font-size:80%;
        line-height: 0.8;
    }

    #score {
        display:inline-block;
        font-size: 100%;
        line-height: 1;

    }

}
